rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // helpers
    function isSignedIn() { return request.auth != null; }
    
    function isAdmin() {
      return isSignedIn() && (
        request.auth.token.email == "saininda@gmail.com" ||
        request.auth.uid == "lUGYop8JDvcT2SJxjiEzBC8PD2p2" ||
        (exists(/databases/$(database)/documents/users/$(request.auth.uid)) && 
         get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == "admin")
      );
    }
    
    function isAuthorized() {
      return isAdmin() || (
        isSignedIn() && 
        exists(/databases/$(database)/documents/users/$(request.auth.uid)) && 
        get(/databases/$(database)/documents/users/$(request.auth.uid)).data.status == "authorized"
      );
    }

    // Default Deny
    match /{document=**} {
      allow read, write: if isAdmin();
    }

    // Collection specific rules
    match /users/{userId} {
      allow get, create, update: if isSignedIn() && request.auth.uid == userId;
      allow list: if isAuthorized();
    }

    match /stats/{id} {
      allow read: if isAuthorized();
    }

    match /requests/{id} {
      allow create: if isSignedIn();
      allow list: if isAuthorized();
      allow get: if isAuthorized() || (isSignedIn() && exists(/databases/$(database)/documents/requests/$(id)) && get(/databases/$(database)/documents/requests/$(id)).data.uid == request.auth.uid);
    }

    match /documents/{id} {
      allow read: if isAuthorized();
      allow create, update: if isAuthorized();
    }

    match /archives/{id} {
      allow read: if isAuthorized();
      allow create, update: if isAuthorized();
    }

    match /tasks/{id} {
      allow read: if isAuthorized();
      allow create, update: if isAuthorized();
    }

    match /events/{id} {
      allow read: if isAuthorized();
    }

    match /announcements/{id} {
      allow read: if isAuthorized();
    }
  }
}
